/* line 5, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/style.scss */
.white {
  color: #fff;
}

/* line 6, ../sass/style.scss */
.black {
  color: #000;
}

/* line 8, ../sass/style.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../sass/style.scss */
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  height: 5000px;
}

/* line 21, ../sass/style.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 26, ../sass/style.scss */
.global_button {
  background: #4cc0cd;
  text-transform: uppercase;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 18px;
  padding: 24px 36px;
  display: inline-block;
}
/* line 37, ../sass/style.scss */
.global_button:hover {
  background: #008bac;
}

/* line 41, ../sass/style.scss */
.wrap {
  width: 1400px;
  min-width: 1300px;
  margin: 0 auto;
}

/* line 47, ../sass/style.scss */
.banner {
  position: relative;
}
/* line 48, ../sass/style.scss */
.banner img {
  width: 100%;
}

/* line 52, ../sass/style.scss */
.banner_text {
  position: absolute;
  top: 21%;
  left: 5.5%;
}

/* line 57, ../sass/style.scss */
.h1 {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1em;
}
/* line 64, ../sass/style.scss */
.h1 span {
  display: block;
}

/* line 67, ../sass/style.scss */
.logo {
  position: absolute;
  top: 55%;
  right: 12%;
}
/* line 72, ../sass/style.scss */
.logo img {
  width: 264px;
  height: 48px;
}

/* line 77, ../sass/style.scss */
.product_desc {
  max-width: 642px;
  width: 70%;
  position: absolute;
  top: 70%;
  left: 5.5%;
}
/* line 84, ../sass/style.scss */
.product_desc p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 38px;
}
/* line 91, ../sass/style.scss */
.product_desc .tit {
  font-weight: 600;
  margin-bottom: 34px;
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
}

/* line 99, ../sass/style.scss */
.our_goods {
  padding-top: 80px;
  width: 1300px;
  margin: 0 auto;
}

/* line 105, ../sass/style.scss */
.h2 {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
}

/* line 112, ../sass/style.scss */
.goods {
  margin-top: 100px;
}

/* line 116, ../sass/style.scss */
.goods_item {
  width: 25%;
  min-width: 242px;
  float: left;
  height: 242px;
  margin-bottom: 100px;
}
/* line 123, ../sass/style.scss */
.goods_item img {
  display: inline-block;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: relative;
  top: 50%;
  left: 50%;
}

/* line 134, ../sass/style.scss */
.delivery {
  background: url("../img/banner_1.jpg") 0 0 no-repeat;
  height: 794px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-top: 50px;
}

/* line 143, ../sass/style.scss */
.delivery_text {
  position: relative;
  top: 31%;
  left: 5.5%;
  width: 70%;
  max-width: 654px;
}
/* line 149, ../sass/style.scss */
.delivery_text .tit {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 155, ../sass/style.scss */
.delivery_text p {
  font-size: 30px;
  color: #fff;
  margin: 46px 0 50px 0;
  font-weight: 300;
  line-height: 1.2em;
}

/* line 164, ../sass/style.scss */
.contacts {
  background: url("../img/banner_2.jpg") 0 0 no-repeat;
  height: 1195px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-top: 250px;
}

/* line 172, ../sass/style.scss */
.contacts_form {
  max-width: 860px;
  position: relative;
  box-shadow: 0 24px 24px 0 rgba(22, 28, 38, 0.25);
  top: -30px;
  width: 100%;
  margin: 0 auto;
  background: rgba(221, 221, 221, 0.5);
  padding: 100px 80px 110px 80px;
}
/* line 182, ../sass/style.scss */
.contacts_form .tit {
  color: #4cc0cd;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 86px;
  text-align: center;
}

/* line 192, ../sass/style.scss */
.input_item {
  display: inline-block;
  width: 100%;
  border: none;
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 24px;
  height: 88px;
  padding: 0 18px;
  margin-bottom: 40px;
}

/* line 205, ../sass/style.scss */
::-webkit-input-placeholder {
  color: #000;
  font: 600 24px 'Open Sans', sans-serif;
}

/* line 206, ../sass/style.scss */
::-moz-placeholder {
  color: #000;
  font: 600 24px 'Open Sans', sans-serif;
}

/* line 207, ../sass/style.scss */
:-moz-placeholder {
  color: #000;
  font: 600 24px 'Open Sans', sans-serif;
}

/* line 208, ../sass/style.scss */
:-ms-input-placeholder {
  color: #000;
  font: 600 24px 'Open Sans', sans-serif;
}

/* line 210, ../sass/style.scss */
.submit_btn {
  background: #4cc0cd;
  width: 100%;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font: 600 18px 'Open Sans', sans-serif;
  padding: 22px 0 26px 0;
  margin-top: 40px;
}
/* line 225, ../sass/style.scss */
.submit_btn:hover {
  background: #008bac;
}

/* line 230, ../sass/style.scss */
.blue {
  color: #4cc0cd;
}

/* line 234, ../sass/style.scss */
footer {
  text-align: center;
  padding-bottom: 140px;
}
/* line 237, ../sass/style.scss */
footer .h2 {
  font-size: 48px;
  margin-bottom: 80px;
}

/* line 243, ../sass/style.scss */
.phone {
  display: block;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 40px;
}

/* line 249, ../sass/style.scss */
.social_icons {
  padding-top: 64px;
}
/* line 251, ../sass/style.scss */
.social_icons .icon {
  display: inline-block;
  vertical-align: top;
  margin: 0 22px;
  width: 96px;
  height: 94px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url("../img/social_icon.jpg") 0 0 no-repeat;
}
/* line 262, ../sass/style.scss */
.social_icons .icon.vk {
  background-position: 0 0;
}
/* line 263, ../sass/style.scss */
.social_icons .icon.fb {
  background-position: -138px 0;
}
/* line 264, ../sass/style.scss */
.social_icons .icon.od {
  background-position: -275px 0;
}

/*@media(min-width: 1600px){
	.delivery {
		height: 1200px;
	}
}*/
